<a-affix :offset-top="card_top">
    <a-card class="card-style" style="width: 360px">
        <div class="avatar">
            <img src="<%- config.root %><%- theme.head_img %>" alt="头像">
        </div>
        <div class="name">
            <%- config.author %>
        </div>
        <div class="descriptions">
            <% theme.card.description.forEach(function(desc){ %>
            <div class="description">
                <%- desc %>
            </div>
            <% }) %>
        </div>
        <div class="icon-links">
            <% Object.keys(theme.card.icon_links).forEach(function(key){ %>
            <span class="icon-link">
                <a href="<%- theme.card.icon_links[key].link %>">

                    <% if (theme.card.icon_links[key].icon.type == 'antd-icon'){ %>
                    <a-icon type="<%- theme.card.icon_links[key].icon.name %>"
                        theme="<%- theme.card.icon_links[key].icon.theme %>" />
                    <% }else if(theme.card.icon_links[key].icon.type == 'iconfont'){ %>
                    <i class="iconfont <%- theme.card.icon_links[key].icon.name %>" style="font-size: 18px;"></i>
                    <% }else{ %>
                    <img width="18px" height="18px" src="<%- theme.card.icon_links[key].icon.src %>" alt="<%- key %>">
                    <% } %>
                </a>
            </span>
            <% }) %>
        </div>
        <div class="friend-links">
            <% Object.keys(theme.card.friend_links).forEach(function(key){ %>
            <div class="friend-link">
                <% 
                var linkData = theme.card.friend_links[key];
                var linkUrl = typeof linkData === 'string' ? linkData : linkData.link;
                var linkIcon = typeof linkData === 'object' ? linkData.icon : null;
                %>
                <a href="<%- linkUrl %>">
                    <% if(linkIcon){ %>
                    <i class="iconfont <%- linkIcon %>" style="font-size: 16px; margin-right: 5px;"></i>
                    <% } %>
                    <%- key %>
                </a>
            </div>
            <% }) %>
        </div>
        <div class="wechat-qrcode" style="text-align: center; margin-top: 20px;">
            <img src="/微信公众号图片.png" alt="微信公众号" style="width: 260px; border-radius: 8px; transition: transform 0.3s ease; cursor: pointer;" onmouseover="this.style.transform='scale(1.2)'" onmouseout="this.style.transform='scale(1)'">
        </div>
    </a-card>
</a-affix>